<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "2BeFITDaniszMichal"
        version     = "1.0.0" >

    <name>Fitness application 2BeFit v.1</name>
    <description>Application for people who want to be fit.</description>
    <author href="#">
		Danisz Mydlarz
	</author>
	<author href="#">
		Michal Krysta
	</author>
	<platform name="android" />
	
	<plugin name="cordova-plugin-device" spec="~1.1.4" />
	<plugin name="cordova-plugin-dialogs" spec="~1.3.1" />

</widget>