* {
    font-family: 'Titillium Web', sans-serif;
}

.header {
    text-align: center;
    font-size: 30px;
    background-color: #CBFF31 !important;
}

.footer {
    text-align: center;
    font-size: 20px;
    background-color: #b9ef15 !important;
}

.ui-content {
    background-color: #ffffff !important;;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%231c1c1c' fill-opacity='0.25' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");

}

.logo {
    margin: -5px 0 10px -50px;
    width: 50px;
    height: auto;
    display: inline-block;
}

.appName {
    font-size: 45px;
    font-weight: bold;
    margin-top: 20px;
    color: #000 !important;
    display: inline-block;
}

.pageName {
    font-size: 35px !important;
    font-weight: bold;
    margin: 0 !important;
    color: #000 !important;
    text-align: center;
}

.backButton {
    position: absolute;
    left: 15px;
    top: 20px;
}

.headerList li{
    display: inline;
}

.col-md-12.squareElement {
    text-align: center;
    padding: 50px 10px 50px 10px;
    margin: 10px 0 10px 0;
    border-radius: 10px;
}

.col-md-12.section {
    text-align: center;
    padding: 5px 10px 0 10px;
    /*margin: 10px 0 10px 0;*/
}

.sectionName {
    font-size: 3.1em;
    font-weight: bold;
    color: #000;
    padding: 10px 0 10px 0;
    /*text-shadow: 0px 0px 25px rgba(79, 79, 79, 1);*/
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0;
    border: 2px solid #595959;
    margin: 10px 2px 10px 2px;
}

#training, #statistics, #exercises, #gymMap, #bmi {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}

#training {
    background-image: url("../img/training.jpg");
}

#statistics {
    background-image: url("../img/statistics.jpg"); 
}

#exercises {
    background-image: url("../img/exercises.jpg");
}

#gymMap {
    background-image: url("../img/location.jpg");
}

#bmi {
    background-image: url("../img/bmi.jpg");
}

.categoryName {
    font-size: 3.5em;
    font-weight: bold;
    color: #FFF;
    padding: 10px 0 10px 0;
    /*text-shadow: 0px 0px 25px rgba(79, 79, 79, 1);*/
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    margin: 10px;
}

.centering {
    text-align: center
}

.container-fluid.headerImg {
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}

#legsHeaderPhoto {
    background-image: url("../img/legsPhoto.jpg");
}

#bmiPhoto {
    background-image: url("../img/bmi.jpg");
}

.bmiHeading {
    font-size: 1.9em;
    text-transform: uppercase;
    font-weight: bold;
}

.bmiHeading.result{
    padding: 10px 0 20px 0;
    }

.BMIbutton {
    background-color: #4CAF50 !important; /* Green */
    border: none !important;
    color: white !important;
    padding: 15px 32px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 1.6em !important;
}

.BMIinput {
    font-size: 2.2em !important;
    text-align: center !important;
}

#bmiResult {
    font-size: 1.9em !important;
    padding-top: 20px;
    padding-bottom: 20px;
}

#BMIconclusion {
    font-size: 2.8em !important;
    padding-bottom: 30px;
}

#exercisesGrid table tr td {
    padding: 10px;
}